
body{
  font-family: 'Lora', serif;
	font-weight: 400;
  margin: 0;
} /*body added*/

h1, h2, h3{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

#wrapper{
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
} /*wrapper added*/

header{
  height: 60px;
} /*header added*/
header #logo{
  position: absolute;
  top: 5px;
  right: 50%;
}
header #logo img{
  width: 70px;
  height: 70px;
}

nav{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
  background-color: #fff;
  perspective: 1000px;
  perspective-origin: -100px top;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 900;
} /*nav added*/
nav #hamburger_button{
  display: block;
  width: 45px;
  height: 38px;
  border: 3px solid #000;
  border-radius: 5px;
  background: linear-gradient(#222,#369);
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000;
}

nav a#hamburger_button span{
  background-color: #111;
  height: 4px;
  display: block;
  margin: 6px 7px 7px 7px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav:hover a#hamburger_button span#topbar{
	-webkit-transform: rotate(45deg) translate(7px, 8px);
  transform: rotate(45deg) translate(7px, 8px);
}
nav:hover a#hamburger_button span#middlebar{
  opacity: 0;
}
nav:hover a#hamburger_button span#bottombar{
	-webkit-transform: rotate(135deg) translate(-7px, 8px);
  transform: rotate(135deg) translate(-7px, 8px);
}

nav ul#navlist{
  margin: 0;
  padding: 3px;
  position: absolute;
  top: 50px;
  right: 8px;
  font-size: 1.1em;
  width: 200px;
  background-color: #222;
  box-shadow: 0 4px 8px rgba(0,0,0,0.7);
	-webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
	-webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
	-webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
  visibility: hidden;
}

nav:hover ul#navlist{
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

nav ul#navlist li{
  list-style-type: none;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 3px;
}

nav ul#navlist li:hover{
  list-style-type: none;
  background-color: rgba(204,204,204,0.2);
  margin-bottom: 3px;
}

nav ul#navlist li:last-of-type{
  margin-bottom: 0;
}

nav ul#navlist li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 8px 18px 7px 18px;
}

nav ul li ul#services_menu{
  padding: 0;
}
nav ul li ul#services_menu li{
  margin-bottom: 3px;
  background-color: #369;
  padding-left: 0.6em;
}

nav ul li ul#services_menu li a{
  font-size: 0.75em;
}

#wrapper p img{
  max-width: 100%;
  height: auto;
}
section#content{
  padding: 8px;  
}

footer{
	border-top: 5px solid #000;
	text-align: center;
	color: #666;
  padding: 8px;
} /*footer added*/
