// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



#main-header {
    margin-top: -50px;
    background: #DEE1E6;
}

.pagination {
    padding: 30px;
    border-top: 1px solid #cfcfcf;
}